@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.panel {
  width: 100%;
  padding-right: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.weekdays {
  display: flex;
  flex-direction: row;
}

.weekdays > .weekday {
  width: 14.285714285714286%;
  flex-basis: auto;
  flex-grow: 1;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #3F51B5;
}

.month {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  min-width: 714px;
  user-select: none;
}

.day-cell {
  width: 14.285714285714286%;
  padding: 4px 0 !important;
  box-sizing: border-box;
  user-select: none;
}

.day {
  min-height: 13.5vh;
  box-sizing: border-box;
  position: relative;
}

.day > .day-number {
  pointer-events: none;
}

.day.day-active {
}

.day.day-inactive {
}

.day.day-inactive > .day-number {
  color: rgba(0, 0, 0, 0.5);
}

.event {
  padding: 4px 0;
}

.event > .event-inner {
  padding: 4px;
  font-size: 14px;
  min-height: 24px;
  max-height: 24px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  text-align: left;
  pointer-events: none;

  background-color: #3f51b5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.event-blue {
  background-color: #3f51b5 !important;
}

.event-red {
  background-color: #D32F2F !important;
}

.event-green {
  background-color: #388E3C !important;
}

.event-yellow {
  background-color: #FDD835 !important;
}

.event.event-first-day > .event-inner {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.event.event-last-day > .event-inner {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.event.draggable {
  position: fixed;
  z-index: 9999;
  pointer-events: none;
}

.event.event-temporary {
  opacity: 0.5;
}

.relative {
  position: relative;
}

table.day-event-table-backdrop {
  width: 100%;
}

table.day-event-table {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

tr.event-row {
}

td.event-table-cell {
  height: 39px !important;
  max-height: 39px !important;
}

td.event-cell {
  height: inherit;
  border: none !important;
  position: relative;
}

td.event-cell > .day-event-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4px !important;
  box-sizing: border-box;
}

td.event-cell > .day-event-wrapper > .day-event {
  width: 100%;
  height: 100%;
  padding: 4px;
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
  font-size: 14px;
  background-color: #3f51b5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 4px;
}

.hidden {
  display: none;
}

.event-dialog-row {
  display: flex;
  justify-content: center;
  align-items: start;
}

.upload-button {
  border-radius: 100% !important;
}

.upload-button > .avatar {
  width: 128px;
  height: 128px;
  color: white;
}
